:root {
  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors */
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /* Typography - Body Copy */
  --font-size-body: 13px;

  --font-family-headings: 'Manrope', sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-medium);
}

/* Add more styles as needed */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: auto;
  width: 100%;
}

body {
  height: 100vh;
  width: 100%;
  font-family: var(--font-family-headings);
  padding: 3rem 2rem;
  background-color: var(--light-grayish-blue);
}
.article__preview {
  position: relative;
  flex-shrink: 0;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: block;
  overflow: hidden;
  background-color: white;
  display: flex;
  border-radius: 30px;
}
picture {
  flex: 1;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.article__preview-info {
  padding: 2rem;
}
.info__wrapper-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.article__preview-img {
  width: 400px;
  border-radius: 30px 0 0 30px;
}
.article__preview-title {
  color: var(--very-dark-grayish-blue);
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 1.4;
}
.article__preview-subtitle {
  color: var(--desaturated-dark-blue);
  padding-top: 24px;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 1.5;
}
.article__preview-content {
  position: relative;
}
.info__wrapper {
  padding-top: 50px;
}
.info__wrapper,
.info__wrapper-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__wrapper-inner {
  gap: 10px;
}
.info__wrapper-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.button {
  display: inline-block;
  padding: 10px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  transition: 0.1s ease-in-out;
  background-color: var(--light-grayish-blue);
  z-index: 124;
}
.button.active {
  background-color: var(--desaturated-dark-blue);
}
.button.active svg path {
  fill: white;
}
.button:hover {
  background-color: var(--very-dark-grayish-blue);
}
.button:hover svg path {
  fill: white;
}
.info__wrapper-inner h4 {
  color: var(--very-dark-grayish-blue);
  font-weight: var(--font-weight-bold);
}
.info__wrapper-inner p {
  color: var(--desaturated-dark-blue);
}
.info__socials {
  position: absolute;
  will-change: transform, opacity;
  display: none;
  padding: 20px;
  bottom: -10px;
  opacity: 0; 
  align-items: center;
  gap: 18px;
  transition: all 0.4s ease-out;
  z-index: 99;
  border-radius: 12px;
  background-color: var(--very-dark-grayish-blue);
}
.info__socials.active {
  display: flex;
  left: -1px;
  opacity: 1;
}
.info__socials-title {
  color: var(--desaturated-dark-blue);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.info__socials-wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}

@media screen and (max-width:788px) {
  .article__preview-content {
    position: static;
  }
  .article__preview {
    flex-direction: column;
  }
  .article__preview-img {
    width: auto;
    border-radius: 30px 30px 0 0 ;
  }
  .info__socials {
    width: 100%;
    right: 0;
    padding: 35px;
    border-radius: 0;
    bottom: 0;
  }
}
@media screen and (max-width:480px) {
  .info__socials {
    width: 100%;
    right: 0;
    padding: 40px;
    border-radius: 0;
    bottom: 0;
  }
}