:root {
  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors - Primary - Text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Colors - Primary - Gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Colors - Neutral - Text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Colors - Neutral - Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);

  /* Typography - Body Copy */
  --font-size-body: 12px;

  /* Typography - Font */
  --font-family: 'Kumbh Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

.gradient__background {
  background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

img {
  height: auto;
  width: 100%;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  padding: 3rem 2rem;
  background-color: var(--very-light-gray);
}
.faq__accordion {
  position: relative;
  flex-shrink: 0;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  display: block;
  background-color: white;
  padding: 64px;
  border-radius: 14px;
}
.faq__accordion-img {
  position: absolute;
  width: 472px;
  left: -70px;
}

.faq__accordion-wrapper {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
}
.faq__accordion-title {
  text-align: center;
}
.faq__accordion-list {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.accordion__item {
  transition: all 0.2s ease-in;
}

.accordion__item.active {
  height: 100%;
}

.accordion__item-subtitle {
  height: 0px;
  overflow: hidden;
  padding-top: 16px;
  transition: all 0.2s ease-in-out;
}

.accordion__item.active .accordion__item-subtitle {
  height: auto;
}
.accordion__item.active .accordion__item-title img {
  transform: rotate(180deg);
  transition: 0.2s ease-in;
}
.accordion__item-title img {
  width: 10px;
  height: 7px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: 0.2s ease-in;
}
.accordion__item-title {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 2px solid var(--light-grayish-blue);
}

@media screen and (max-width:1150px) {
  .faq__accordion-img {
    width: 400px;
  }
}
@media screen and (max-width:1024px) {
  .faq__accordion-img {
    width: 400px;
    top: -180px; 
    left: 10%;
  }
  .faq__accordion {
    max-width: 500px;
  }
  .faq__accordion-title {
    padding-top: 100px;
  }
  .faq__accordion {
    padding: 2rem;
  }
  .faq__accordion-wrapper {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width:768px) {
  .faq__accordion-img {
    width: 350px;
    left: 14%;
    top: -160px;
  }
  .faq__accordion-title {
    padding-top: 70px;
  }
}
@media screen and (max-width:480px) {
  .faq__accordion-img {
    width: 270px;
    top: -120px;
  }
}
